<!doctype html>
<html ng-app="myApp">
  <head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src={{url_for('static',filename="main.js")}}></script>
    <!-- Bootstrap, because I suck at frontend dev -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>

  </head>
  <body class="container">
{% raw %}
  <div ng-controller="HbaseController">
    Filter By server: <input ng-model="filter_server" typeahead="server for server in server_list | filter:$viewValue | limitTo:8" typeahead-editable="false"></input>
    <br/>
    Filter By Region: <input ng-model="filter_region" typeahead="region for region in region_list | filter:$viewValue | limitTo:8" typeahead-editable="true"></input>
    <accordion ng-repeat="rvalue in scan_values | filter:filter_server | filter:filter_region">
      <accordion-group is-open="true">
          <accordion-heading><div>
             Region:{{rvalue.encoded}} Server:{{rvalue.server}} 
          </div></accordion-heading>
          <accordion ng-repeat="(key, value) in region_files[rvalue.encoded]">
            <accordion-group is-open="true">
            <accordion-heading><div>
            {{value.file_data.fname}} Size:{{value.file_data.fsize}} {{value.file_data.fsize_unit}}
            </div> </accordion-heading>
              <table class="table">
                <tr ng-show="{{value.block_data.length>0}}">
                <th>Block Id</th>
                <th>Block Length</th>
                <th>Block Replist</th>
                </tr>
                <tr ng-repeat="(bkey, bvalue) in value.block_data">
                  <td class="col-md-4">{{bvalue.id}}</td>
                  <td class="col-md-2">{{bvalue.blen}}</td>
                  <td class="col-md-2">{{bvalue.replist}}</td>
                </tr>
              </table>
            </accordion-group>
          </accordion>
      </accordion-group>
    </accordion>
  </div>
{% endraw %}
  </body>
</html>